#obrigado{
    min-height: 100vh;
    gap: 3rem;
    padding: 0 2rem;
}

.titulo{
    font-family: 'Anton', sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--font-color);
    font-size: 4rem;
    text-align: center;
    background: linear-gradient(45deg, var(--roxo), var(--font-color), var(--roxo));
    animation: degrade 6s linear infinite;
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#voltar{
    background-color: var(--bg3);
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--font-color);
}

#voltar:hover{
    background-color: var(--roxo);
    color: white;
}


@media (min-width:700px){
    .titulo{
        font-size: 6rem;
    }
}