:root{
    --bg: url("/imgs/background.png");
    --bg-color: #16181E;
    --bg-color-transparent: rgba(22, 24, 30, 0.37);
    --bg-color-inputs: rgba(22, 24, 30, 0.34);
    --bg-claro: #252730;
    --font-color: white;
    --cinza-transparente: #b8b8b83a;
    --roxo: rgb(116, 117, 255);
    --roxo-escuro: rgb(116, 117, 255);
    --azul-linkedin: #0077ff;
}

.light{
    --bg: url("/imgs/background-light.png");
    --bg-color: white;
    --bg-color-transparent: rgba(255, 255, 255, 0.10);
    --bg-color-inputs: rgba(22, 24, 30, 0.09);
    --bg-claro: #f0f0f0;
    --roxo-escuro: rgb(61, 58, 117);
    --font-color: black;
    --cinza-transparente: #55555560;
}