:root{
    --bg-color: #16181E;
    --bg-claro: #252730;
    --bg-claro2: rgba(51, 55, 66, 0.50);
    --font-color: white;
    --cinza-transparente: #b8b8b83a;
    --roxo: rgb(116, 117, 255);
    --roxo-escuro: rgb(60, 61, 133);
    --azul-linkedin: #0077ff;
}

.light{
    --bg: url("/imgs/background-light.png");
    --bg-color: white;
    --bg-claro: #f0f0f0;
    --bg-claro2: rgba(229, 227, 227, 0.50);
    --roxo-escuro: rgb(91, 87, 178);
    --font-color: black;
    --cinza-transparente: #55555560;
}