:root{
    --bg-color: #16181E;
    --bg-claro: #252730;
    --font-color: white;
    --cinza-transparente: #b8b8b83a;
    --verde-agua: rgb(119, 204, 207);
    --verde-agua-transparent: rgba(119, 204, 207, 0.404);
    --azul-linkedin: #0077ff;
}

.dark{
    --bg-color: white;
    --bg-claro: #f0f0f0;
    --font-color: #16181E;
    --cinza-transparente: #55555560;
}