@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    background: var(--bg) center center/cover repeat;
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace;
    transition: all 0.5s ease;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1rem;
}

.bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3rem;
    gap: 2rem;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--bg-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--roxo);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--bg-color);
    /* creates padding around scroll thumb */
}

@keyframes initial-animation {
    from {transform: scale(0.1);}
    to {transform: scale(1);}
}

/* APRESENTACAO */

#apresentacao {
    margin-top: 2rem;
}

#apresentacao h1 {
    max-width: 26rem;
    animation-name: initial-animation;
    animation-duration: 0.5s;
}

#apresentacao p {
    max-width: 25rem;
    animation-name: initial-animation;
    animation-duration: 0.6s;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-transparent);
    backdrop-filter: blur(30px);
    border-radius: 1rem;
    animation-name: initial-animation;
    animation-duration: 0.7s;
}

.btn-social {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: var(--font-color);
    font-size: 20px;
    transition: 0.2s;
}

#linkedin {
    color: var(--azul-linkedin);
}

#linkedin:hover {
    background-color: var(--azul-linkedin);
    color: white;
}

#curriculo {
    color: var(--roxo);
}

#curriculo:hover {
    background-color: var(--roxo);
    color: #fff;
}

#git:hover {
    background-color: #000;
    color: #fff;
}



/* CONTEUDO */


.informativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.info {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-transparent);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    transition: 0.2s;
}

.info:hover {
    box-shadow: 0px 0px 0px 4px var(--roxo);
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.btn {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 15px 20px;
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace;
    transition: 0.2s;
    font-size: 1rem;
}

.btn:hover{
    color: var(--roxo-escuro);
}

.btn:active{
    color: var(--roxo-escuro);
}


@media only screen and (min-device-width: 700px) {
    .info {
        max-width: 35rem;
    }
}







/* SOBRE MIM */
#sobremim{
    animation-name: initial-animation;
    animation-duration: 0.8s;
}

#cont-sobremim {
    display: none;
}

#cont-sobremim img {
    width: 8rem;
    border-radius: 100%;
}




/* SKILLS */
#skills{
    animation-name: initial-animation;
    animation-duration: 0.9s;
}

#cont-skills {
    display: none;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* SOFT SKILLS */

.soft-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}




/* HARD SKILLS */

.hard-skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.barras-progresso {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.barra {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.progressbar {
    width: 100%;
    background-color: var(--bg-color-inputs);
    border-radius: 13px;
    padding: 3px;
}

.progresso {
    background: var(--roxo);
    height: 10px;
    border-radius: 10px;
}

#html>div>div {
    width: 80%;
}

#css>div>div {
    width: 80%;
}

#aws>div>div {
    width: 30%;
}

#php>div>div {
    width: 20%;
}

#java>div>div {
    width: 10%;
}





/* EXPERIENCIA */
#experiencia{
    animation-name: initial-animation;
    animation-duration: 1s;
}

#cont-experiencia {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px solid var(--cinza-transparente);
    border-radius: 10px;
    padding: .5rem;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 8px;
}

.card-image img {
    width: 10rem;
    filter: drop-shadow(0px 0px 0.5px #fff);

}

.category {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--roxo);
    padding: 10px 7px 0;
    text-align: left;
}

.category:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: var(--font-color);
    padding: 7px;
}

.heading:hover {
    cursor: pointer;
}

.name {
    font-weight: 600;
}

.name:hover {
    cursor: pointer;
}



/* PROJETOS */

#projetos{
    animation-name: initial-animation;
    animation-duration: 1.1s;
}

#cont-projetos{
    display: none;
}

#projetos .card-image{
    background-image: url(/imgs/imc.png);
    height: 150px;
    background-position: center;
}

.links{
    display: flex;
    justify-content: left;
    padding: 0.5rem 0;
}

.link-projeto{
    background-color: transparent;
    border: none;
}

.link-projeto svg{
    font-size: 2rem;
    color: var(--font-color);
}




/* CONTATO */

#contato{
    animation-name: initial-animation;
    animation-duration: 1.2s;
}

#cont-contato {
    display: none;
}

.forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.forms input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color-inputs);
    border-style: none;
    padding: 15px;
    border-radius: 10px;
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace;
}

.forms textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color-inputs);
    border-style: none;
    padding: 15px;
    border-radius: 10px;
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace;
}

.forms input:focus {
    box-shadow: 0px 0px 0px 4px var(--roxo);
}

.forms textarea:focus {
    box-shadow: 0px 0px 0px 4px var(--roxo);
}

.btn-submit{
    width: 50%;
    background-color: var(--roxo);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    transition: 0.2s;
    font-size: 1rem;
}

.btn-submit:hover{
    box-shadow: 0px 0px 0px 4px var(--roxo-transparent);
}



/* BOTAO MUDAR TEMA */

.bnt-flutuante {
    position: fixed;
    right: 15px;
    bottom: 20px;
    background-color: var(--bg-color-transparent);
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.bnt-flutuante:hover {
    box-shadow: 0px 0px 0px 4px var(--roxo);
}

.bnt-flutuante svg {
    font-size: 20px;
    color: var(--font-color);
}