#apresentacao{
    gap: 3rem;
    animation: myAnim 0.5s
}

.titulo{
    font-family: 'Anton', sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0.4rem;
    color: var(--font-color);
    font-size: 3.5rem;
    text-align: center;
    background: linear-gradient(45deg, var(--roxo), var(--font-color), var(--roxo));
    animation: degrade 6s linear infinite;
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#social{
    background-color: var(--bg2);
    border: solid 5px var(--bg3);
    border-radius: 25px;
    padding: 0.2rem;
}

#social a{
    text-decoration: none;
}

#social button{
    width: 40px;
    height: 40px;
    border-radius: 17px;
}

.icon{
    font-size: 1.2rem;
}

#linkedin{
    color: #4441ff;
}

#linkedin:hover{
    background-color: #4441ff;
    color: white;
}

#git:hover{
    background: white;
    color: black;
}

#curriculo:hover{
    background-color: var(--roxo);
    color: white;
}

#curriculo{
    color: var(--roxo);
}

#avancar{
    color: white;
    font-size: 2rem;
}

@media (min-width: 700px){
    .titulo{
        font-size: 5.5rem;
    }
    
    #apresentacao>.paragrafo{
        font-size: 1.5rem;
    }
}