#apresentacao{
    gap: 2rem;
}

#social{
    background-color: var(--bg2);
    border: solid 5px var(--bg3);
    border-radius: 20px;
    padding: 0.2rem;
}

#social a{
    text-decoration: none;
}

.icon{
    font-size: 1.2rem;
}

#linkedin{
    color: blue;
}

#linkedin:hover{
    background-color: blue;
    color: white;
}

#git:hover{
    background: white;
    color: black;
}

#curriculo:hover{
    background-color: var(--verde);
    color: white;
}

#curriculo{
    color: var(--verde);
}