#apresentacao{
    min-height: 100vh;
    background: url(/imgs/background.png);
    background-size: cover;
    background-position: center;
    gap: 2rem;
}

.titulo{
    color: var(--font-color);
    font-size: 3rem;
    text-align: center;
    filter: opacity(60%);
}

#apresentacao>.paragrafo{
    font-size: 1rem;
    text-align: center;
    filter: opacity(70%);
}

#social{
    background-color: var(--bg2);
    border: solid 5px var(--bg3);
    border-radius: 20px;
    padding: 0.2rem;
}

#social a{
    text-decoration: none;
}

.icon{
    font-size: 1.2rem;
}

#linkedin{
    color: blue;
}

#linkedin:hover{
    background-color: blue;
    color: white;
}

#git:hover{
    background: white;
    color: black;
}

#curriculo:hover{
    background-color: var(--verde);
    color: white;
}

#curriculo{
    color: var(--verde);
}

#avancar{
    color: white;
    font-size: 2rem;
}

@media (min-width: 900px){
    #apresentacao{
        min-width: 95%;
    }

    .titulo{
        font-size: 4rem;
    }
    
    #apresentacao>.paragrafo{
        font-size: 1.5rem;
    }
}