#projetos{
    gap: 2rem;
    animation: myAnim 1s;
}

.links{
    justify-content: left;
    padding: 0.5rem 0;
}

.link-projeto{
    background-color: transparent;
    border: none;
}

.link-projeto svg{
    font-size: 1.5rem;
    color: var(--font-color);
}