#skills{
    animation: myAnim 0.5s;
    gap: 2rem;
}

.soft-hard{
    gap: 2rem;
}

#soft-skill{
    gap: 2rem;
}

#hard-skill{
    width: 100%;
    max-width: 300px;
    gap: 2rem;
}

.barras-progresso {
    width: 100%;
    gap: 1rem;
}

.barra {
    gap: 0.5rem;
    width: 100%;
}

.progressbar {
    width: 100%;
    background-color: var(--bg3);
    border-radius: 13px;
    padding: 3px;
}

.progresso {
    background: var(--roxo);
    height: 10px;
    border-radius: 10px;
}

#html>div>div {
    width: 80%;
}

#css>div>div {
    width: 80%;
}

#aws>div>div {
    width: 30%;
}

#php>div>div {
    width: 20%;
}

#java>div>div {
    width: 10%;
}